[Unit]
Description=Show desktop notifications for earlyoom

[Service]
ExecStart=/usr/bin/earlyoom -n -m 5 -s 3 --avoid '(^|/)(systemd|gnome-shell|firefox|nvim)$'

AmbientCapabilities=CAP_KILL CAP_IPC_LOCK
CapabilityBoundingSet=CAP_KILL CAP_IPC_LOCK

Nice=-20

OOMScoreAdjust=-100

Restart=always

TasksMax=10
MemoryMax=50M

DynamicUser=true
SupplementaryGroups=proc

ProtectHome=true
PrivateDevices=true
ProtectClock=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictNamespaces=true
RestrictRealtime=true
LockPersonality=true
PrivateNetwork=true
IPAddressDeny=true

[Install]
WantedBy=multi-user.target
